// Variables

$mar: #d35266;
$dark: #383838;
$lite: #888;
$bg: #f6f6f6;
$w: #fff;

* a {
  text-decoration: none;
}

* li {
  list-style: none;
}

body {
  background-color: $w;
  box-sizing: border-box;
  color: $lite;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

nav {
  background-color: $dark;
  overflow: hidden;
  width: 100%;

  .my-left {
    button {
      display: none;
    }

    a {
      color: $lite;
      line-height: 3em;
    }
  }

  .right {
    display: none;
  }

  @media (min-width: 376px) {
    .my-left {
      display: flex;
      justify-content: space-evenly;

      button {
        background-color: $mar;
        border: 0;
        border-radius: 3px;
        color: $w;
        display: block;
        font-size: 14px;
        font-weight: bold;
        line-height: 2em;
        margin-top: 10px;
        text-transform: uppercase;
      }
    }

    .right {
      display: none;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    .my-left {
      span {
        margin-right: 20px;
      }
    }

    .right {
      display: inline-flex;
      margin-right: 20px;
      padding-top: 15px;

      a {
        color: $lite;
        font-size: 18px;
        line-height: 1em;
        text-transform: uppercase;

        i {
          margin: 0 10px;
        }
      }
    }
  }
}

.hero {
  align-items: center;
  background-color: $mar;
  color: $w;
  display: flex;
  flex-direction: column;
  // height: 40vh;
  padding-bottom: 30px;
  padding-top: 30px;

  h1 {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    font-size: 25px;
  }

  form {
    select {
      background-color: $w;
      border: 0;
      padding: 17px 10px;
      width: 25%;
    }

    input {
      border: 0;
      padding: 15px 10px;
      width: 25%;

      &[type="submit"] {
        background-color: $dark;
        color: $w;
        margin-left: 10px;
        width: 15%;
      }
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.ads {
  background-color: $w;
  padding: 30px 0;

  h2 {
    font-size: 22px;
    font-weight: bold;
  }

  img {
    padding: 20px;
    width: 200px;
  }

  span {
    background-color: $mar;
    color: $w;
    margin-right: 1px;
    padding: 15px;
  }
}

.electronics {
  background-color: $bg;
  padding-top: 30px;

  h2 {
    font-size: 24px;
  }

  .card-group {
    border-top: 1px solid $lite;

    .card-body {
      h5 {
        color: $dark;
      }
    }

    .card-text {
      color: $mar;
    }

    .spans {
      display: flex;
      justify-content: space-between;

      &:nth-last-child(1) {
        color: $mar;
      }
    }
  }
}
